@font-face {
    font-family: Montserrat-700;
    src:url('../src/fonts/Montserrat-Bold.ttf');
}
@font-face {
    font-family: Montserrat;
    src:url('../src/fonts/Montserrat-Regular.ttf');
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Montserrat;
}

.container{
    width: 100%;
    max-width: 1145px;
    margin: 0 auto;
}

.header{
    display: flex;
    justify-content: center;   
    padding: 25px 0;
}

.navigation__list{
    display: flex;
    justify-content: center;
    gap: 72px;
    list-style-type: none;
}

.navigation__item{
    color: #FF0000;
}

.navigation__link{
    color: #FF0000;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 18px;
    font-family: Montserrat-700;
    letter-spacing: 2.7px;
}

.preview{
    width: 1280px;
    height: 789px;
    margin: 0 auto;
}

.information{
    padding-top: 48px;
    padding-bottom: 42px;
}

.information__title{
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 3.3px;
}

.information__content{
    padding-top: 38px;
    padding-bottom: 66px;
    display: flex;
    flex-direction: column;
    gap: 28px;
}

.information__article{
    text-align: center;
    letter-spacing: 2.4px;
    line-height: 26px;
}

.information__button{
    padding: 15.5px 41px;
    background-color: #FF0000;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 12px;
    border: none;
    color: #fff;
    margin: 0 auto;
    display: block;
    font-family: Montserrat-700;
    transition: 0.3s;
    border-radius: 4px;
    letter-spacing: 1.8px;
    line-height: 12px;
}

.footer{
    display: flex;
    justify-content: flex-end;
    padding: 29px 0;
}

.copyright{
    display: block;
    text-align: end;
    margin-right: 37.5px;
    letter-spacing: 2.4px;
    line-height: 20px;
    font-family: Montserrat-700;
}